
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #e06300;
    --tw-bg-opacity: 1;
    --sub-color: #2c1e73;
}

.text-main-color {
    color: var(--main-color);
}

.bg-main-color {
    background-color: var(--main-color);
}

.border-main-color {
    border-color: var(--main-color);
}

.hover\:bg-main-color:hover {
    background-color: var(--main-color);
}

.hover\:text-main-color:hover {
    color: var(--main-color);
}

.hover\:border-main-color:hover {
    border-color: var(--main-color);
}

.text-sub-color {
    color: var(--sub-color);
}

.bg-sub-color {
    background-color: var(--sub-color);
}

.border-sub-color {
    border-color: var(--sub-color);
}

.hover\:bg-sub-color:hover {
    background-color: var(--sub-color);
}

.hover\:text-sub-color:hover {
    color: var(--sub-color);
}

.hover\:border-sub-color:hover {
    border-color: var(--sub-color);
}

.btn {
    @apply border px-10 py-2 rounded-sm transition duration-300 my-2
}

.btn:focus {
    @apply outline-none shadow-lg
}

.btn-main {
    @apply text-white bg-sub-color border-sub-color
}

.btn-main:hover {
    @apply bg-transparent text-sub-color
}

.btn-login {
    @apply text-2xl bg-main-color px-12 py-4 rounded-lg text-white
}

.btn-login:hover {
    @apply text-main-color bg-white border-main-color
}

.btn-register {
    @apply bg-main-color px-12 text-white
}

.btn-register:hover {
    @apply text-main-color bg-white border-main-color
}

.btn-info {
    @apply bg-blue-600 py-1 px-2 border-blue-600 duration-300 text-white
}

.btn-info:hover {
    @apply bg-blue-500 border-blue-500
}

.btn-success {
    @apply bg-green-600 py-1 px-2 border-green-600 duration-300 text-white
}

.btn-success:hover {
    @apply bg-green-500 border-green-500
}

.btn-danger {
    @apply bg-red-600 py-1 px-2 border-red-600 duration-300 text-white
}

.btn-danger:hover {
    @apply bg-red-500 border-red-500
}

.sup::before {
    content: "";
    top: -.25rem;
    right: -.25rem;
    z-index: -1;
    @apply px-1 rounded-full bg-blue-800 block absolute h-6 w-6 text-white
}

ul li {
    @apply transition duration-300
}

ul li:hover {
    @apply text-main-color font-medium
}

.list-border-b::after {
    content: "";
    top: 2.45rem;
    @apply block w-full h-1 bg-main-color absolute
}

.stage {
    @apply border border-blue-800 rounded-md shadow-md h-24 mx-4 px-4 flex flex-col justify-center items-center transition duration-300
}

.stage:hover,
.stage:focus {
    @apply bg-gray-100 shadow-xl font-semibold border-2
}

.input {
    @apply block px-4 py-2 w-full text-base appearance-none bg-transparent
}

.input:focus {
    @apply outline-none border-blue-700 shadow-md
}

.label {
    @apply absolute top-px text-sm rounded-lg bg-white px-4 py-2 duration-300
}

.outline input:focus-within~label,
.outline input:not(:placeholder-shown)~label,
.outline textarea:focus-within~label,
.outline textarea:not(:placeholder-shown)~label {
    @apply transform scale-90 -translate-y-3 z-0 ml-3 px-1 py-0 text-sub-color
}

.input-form {
    @apply outline relative border rounded-lg
}

.input-form:focus-within {
    @apply border-blue-500
}

.input-form i {
    @apply text-sub-color
}

.hasImage:hover section {
    background-color: rgba(5, 5, 5, 0.4);
}

.hasImage:hover button:hover {
    background: rgba(5, 5, 5, 0.45);
}

#overlay p,
{
    opacity: 0;
}

#overlay.draggedover {
    background-color: rgba(255, 255, 255, 0.7);
}

#overlay.draggedover p,
#overlay.draggedover i {
    opacity: 1;
}

.group:hover .group-hover\:text-blue-800 {
    color: #2b6cb0;
}

table {
    @apply w-full overflow-auto
}

th,
td {
    @apply py-6 px-10 border-b text-center
}

th {
    @apply text-base text-sub-color bg-gray-100
}

td {
    @apply text-xs
}

tr {
    @apply duration-300
}

tr:hover {
    @apply bg-yellow-200
}

video {
    height: 500px;
}

.plyr {
    @apply block
}

.exams-container {
    /*background: #34325e;*/
    background-image: url("../../layouts/img/art-right.svg"),url("../../layouts/img/art-left.svg");
    background-position: 100% 100%,0 100%;
    background-repeat: no-repeat;
    background-size: contain;
    @apply bg-sub-color
}